@tailwind base;
@tailwind components;
@tailwind utilities;

.input-text {
    @apply text-gray-500;
    transition: all 0.2s;
}

/* Updated rule for input text color when focused */
input[type="text"]:focus~.input-text,
input[type="email"]:focus~.input-text,
input[type="password"]:focus~.input-text,
input[type="tel"]:focus~.input-text {
    @apply text-black;
}

/* Rules for label transformation */
input[type="text"]:not(:placeholder-shown)~.input-text,
input[type="email"]:not(:placeholder-shown)~.input-text,
input[type="password"]:not(:placeholder-shown)~.input-text,
input[type="tel"]:not(:placeholder-shown)~.input-text {
    @apply bg-white transform -translate-y-[22px] -translate-x-2 scale-90;
}

.drawer-side ul li a.active {
    color: #F5F6F6;
    background-color: #0d1321;
}

.drawer-side ul li a:not(.active):hover {
    background-color: #F5F6F6;
}