.slider{
    width: 100%;
    height: 2px;
    background-color: #F43F5E;
}

.slider .thumb{
    width: 23px;
    height: 23px;
    cursor: grab;
    border-radius: 50%;
    outline: none;
    background-color: #F43F5E;
    border: 2px solid #F43F5E;
    top: -10px;
}
